<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, inicial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- BOOSTRAP -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

	<!--Google Fonts-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

	<!--CUSTOM CSS-->
	<link rel="stylesheet" href="/css/main.css">



	<title>Hero Digital Test</title>
</head>
<body>
	<h2><b>Sing up for email updates</b></h2>
	<br>
	<span>*Indicates Required Field</span>
	<div class="mt-5">
		<form>
			<div class="row align-items-start">
				<div class="mb-3 col">
					<label for="nameInput" class="form-label" id="nameLabel">FIRST NAME*</label>
					<input type="text" class="form-control" id="nameInput" aria-describedby="nameLabel" required>
				</div>
				<div class="mb-3 col">
					<label for="lastNameInput" class="form-label" id="lastNameLabel">LAST NAME*</label>
					<input type="text" class="form-control" id="lastNameInput" aria-describedby="lastNameLabel" required>
				</div>
			</div>
			<div class="row align-items-start">
				<div class="mb-3 col">
					<label for="exampleInputEmail1" class="form-label" id="emailLabel">EMAIL ADDRESS*</label>
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailLabel" required>
				</div>
				<div class="mb-3 col">
					<label for="organizationInput" class="form-label" id="organizationLabel">ORGANIZATION</label>
					<input type="text" class="form-control" id="organizationInput" aria-describedby="organizationLabel">
				</div>
			</div>
			<div class="mb-3 form-check">
				<input type="checkbox" class="form-check-input" id="check1">
				<label class="form-check-label" for="check1">Check</label>
			</div>
				<button type="submit" class="btn btn-primary">Submit</button>
		</form>	
	</div>
</body>
<html>