body{
	font-family: 'Open Sans', sans-serif;
	background-image: url('/img/texture.png'); 
	background-position: center; 
	background-repeat: repeat; 
	background-size: cover; 
	padding: 25px;
}

.form-select{
	background-image: url('/img/text-expand-arrow.svg');
}

.form-check-label{
	margin-top: 15px;
    margin-left: 25px;
}
.form-check-input{
	height: 45px;
    width: 45px;
    border-color: #d0e8e6;
    border-width: thick;
}

.form-check-input:checked[type=checkbox] {
    mask: url('/img/check.svg');
    
}

.form-check-input:checked {
    background-color: #803093;
    border-color: #803093;

}
.btn-primary{
	background-color:#803093;
}

.btn-primary:hover{
	background-color:#703093;
}
.btn-light:hover{
	background-color: #EFEFEF;
}

.btn-lg, .btn-lg:hover{
	border-color: transparent;
}

