body{
	font-family: 'Open Sans', sans-serif;
	background-image: url('/img/texture.png'); 
	background-position: center; 
	background-repeat: repeat; 
	background-size: cover; 
	padding: 25px;
}


.form-select{
	background-image: url(/img/text-expand-arrow.svg) !important;


}

.form-check-label{
	margin-top: 15px;
    margin-left: 25px;
}
.form-check-input{
	height: 45px;
    width: 45px;
    border-color: #d0e8e6 !important;
    border-width: thick;
}

.form-check-input:checked[type=checkbox] {
    mask: url('/img/check.svg');
    
}

.form-check-input:checked {
    background-color: #803093 !important;
    border-color: #803093 !important;
    box-shadow: none !important;

}

.btn-lg{
	width: 200px;
}

.btn-primary{
	background-color:#803093;
}

.btn-primary:hover{
	background-color:#703093;
}
.btn-light:hover{
	background-color: #EFEFEF;
}

.btn-lg, .btn-lg:hover, .btn-lg:active, .btn-lg:focus{
	border-color: transparent;
}

.shadow {
    box-shadow: 0 .2rem 0.5rem rgba(0,0,0,.6)!important;
}

.form-control.is-invalid, .was-validated .form-control:invalid, .form-control.is-valid, .was-validated .form-control:valid, .form-select.is-valid:not([multiple]):not([size]), .form-select.is-valid:not([multiple])[size="1"], .was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"] {
    background-image: unset;
}

.form-control.is-invalid, .was-validated .form-control:invalid, .form-select.is-invalid:not([multiple]):not([size]), .form-select.is-invalid:not([multiple])[size="1"], .was-validated .form-select:invalid:not([multiple]):not([size]), .was-validated .form-select:invalid:not([multiple])[size="1"], .checkboxInputInvalid{
	background-color: #f8e7e7;
}

.invalid-feedback:not(.checkboxes) {
	position: relative;
    top: -100px;
}

.invalidCheckbox{
	display: block;
}

.form-control.is-valid, .was-validated .form-control:valid, .form-check-input.is-valid, .was-validated .form-check-input:valid, .form-check-input.is-valid, .was-validated .form-check-input:valid
{
	border-color:transparent;
}
.form-check-input.is-valid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label {
    color: initial;
}
